################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/IDXLib
/IDXLib/obj
/IDXLib/bin
/.vs
/IDXExtractRepack/bin/Debug/net9.0
/IDXExtractRepack/obj
