################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/IDXLib
/IDXLib/obj
/IDXLib/bin/Debug/net8.0
